h1 {font-size: 28px;
padding-left: 16px;}
.card { padding-left: 12px;}


h2 {font-size: 24px;
    padding-left: 12px;
}

h3 {font-size: 20px;
    padding-left: 12px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background:#eaf0ff; color: #0b1220;
}
a { color: #6ea8fe; }

.project-img{
  width: 480px;      /* hoặc 150px */
  height: auto;      /* giữ đúng tỉ lệ */
}

